.background {
  viewport-fill: black;
}

#ClockLabel {
  font-size: 25;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 20%;
  fill: white;
}

#ClockSecondsLabel {
  font-size: 100;
  font-family: System-Light;
  text-length: 32;
  text-anchor: end;
  x: 45%;
  y: 58%;
  fill: fb-light-gray;
  opacity: 0.7;
}

#Date {
  font-size: 20;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#BatteryLabel {
  font-size: 20;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#StepsText {
  font-size: 20;
  text-length: 32;
  fill: white;
}

#DistanceText {
  font-size: 20;
  text-length: 32;
  fill: white;
}

#CaloriesText {
  font-size: 20;
  text-length: 32;
  fill: white;
}

#ZonesText {
  font-size: 20;
  text-length: 32;
  fill: white;
}

#ElevationText {
  font-size: 20;
  text-length: 32;
  fill: white;
}

#HRText {
  font-size: 20;
  text-length: 32;
  fill: white;
}

.StepsImg {
  fill: white;
  opacity: 1;
}

.DistanceImg {
  fill: white;
  opacity: 1;
}

.CaloriesImg {
  fill: white;
  opacity: 1;
}

.AZMImg {
  fill: white;
  opacity: 1;
}

.ElevationImg {
  fill: white;
  opacity: 1;
}

.HRImg {
  fill: white;
  opacity: 1;
}

.BatteryImg {
  fill: white;
  opacity: 1;
}
