.background {
  viewport-fill: black;
}

.StepsImg {
  fill: white;
  opacity: 1;
}

.DistanceImg {
  fill: white;
  opacity: 1;
}

.CaloriesImg {
  fill: white;
  opacity: 1;
}

.AZMImg {
  fill: white;
  opacity: 1;
}

.ElevationImg {
  fill: white;
  opacity: 1;
}

.HRImg {
  fill: white;
  opacity: 1;
}

.BatteryImg {
  fill: white;
  opacity: 1;
}
